<%= form_for :calc, url: { action: :new }, method: :post do |f|   %>
    <p>First num: <%= number_field_tag :a, params[:a] %></p>
    <p>Opration: <%= text_field_tag :op, params[:op]%></p>
    <p>Second num: <%= number_field_tag :b, params[:b] %></p>
    <%= f.submit 'Calculate!' %>
    <p>Result:<%= text_field_tag :result, @result %></p>
<% end %>

